body{
	background-color: #151515;
	padding-bottom: 10px;
	overflow-x: hidden;
	font-family: Arial, sans-serif;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
}
.body::-webkit-scrollbar {
	display: none;
}

.startseiteH1 {
	text-align: center;
	color:rgb(143, 16, 16);
	margin-top: 1%;
}

.startseiteH2 {
	font-size: 50px;
	text-align: center;
	margin-top: 1%;
}

.loginBox {
	position: absolute;
	text-align: center;
	top: 37px;
	right: -5%;
	top: 37px;
	background-color: #2E2E2E;
	transform: translate(-50%, -50%);
	border: 3px solid black;
}

.loginButton {
	visibility: visible;
}

.logoutButton {
	visibility: visible;
}

.navigation{
	display: block;
	color: #fafafaa9;
	text-align: center;
	text-decoration: none;
	padding-bottom: 5%;
	padding-top: 5%;
	background-color: rgb(143, 16, 16);
}

.navigationBox{
	position: absolute;
	width: 100%;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(143, 16, 16);
	border: 3px solid black;
}

.navigationBox2{
	position: absolute;
	width: 100%;
	top: 103%;
	left: 50%;
	background-color: #2E2E2E;
	transform: translate(-50%, -50%);
	border: 3px solid black;
	margin-top: 2%;
}

.navigationButton {
	float: left;
	width: 10%;
	height: 100%;
	padding-right: 3%;
	padding-left: 3%;
	font-size: 18px;
}

.navigationButton2 {
	float: right;
	}

.navigationList {
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navigation:hover{
	color: #fafafaea;
}

.searchBar {
	margin-top: 0.4%;
	margin-left: 5%;
}
	/* Home */
	
.mainBox {
	position: Absolute;
	width: 100%;
	top: 15%;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: #2E2E2E;
	border: 3px solid black;
}

.DiashowBild {
	position: relative;
	left: 2.5%;
	width: 49%;
	height: 89%;
	border: 3px solid black;
	background-color: #676767;
	padding-right: 0px;
	padding-bottom 0px;
	margin: 1%;
	margin-left: 0%;
}

.pictureDia {
	width: 100%;
	height: 100%;
}

.DiashowExtra {
	position: absolute;
	right: 2.5%;
	top: 5%;
	bottom: 5%;
	width: 45%;
	height: 90%;
	background-color: #767676;
	border: 3px solid black;
	padding-left: 0px;
	font-size: 20px;
}

.tableHome {
	position: absolute;
	text-align: center;
	bottom: 5%;
}

.tableTDList {
	list-style: none;
	margin-right: 5px;
}

.tableTD {
	width: 100px;
}

	/* Datenbank Übersicht*/
	
.labelSpaceLeft {
	margin-left: 20px;
}

.labelSpaceRight {
	margin-right: 7px;
}

.filter {
	margin: 1%;
	left: 5%;
}

.dropdownMenue {
	width: 100px;
}

.pictureTable {
	text-align: center;
}

.picture {
	height:75%;
	width: 70%;
	margin-top: 2%;
}

.datenbankBox {
	position: absolute;
	transform: translate(-50%, 0%);
	top: 25%;
	right: 2%;
}

	/* Registration*/

.tableRegistration {
	text-align: center;	
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}

.rot{
	color: red;
}

.groesse {
	width: 265px;
}

	/* Admin */
.adminBody {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
}
.adminBody::-webkit-scrollbar {
	display: none;
}

.adminNavigation{
	display: block;
	color: #FAFAFA;
	text-align: center;
	text-decoration: none;
	padding-bottom: 5%;
	padding-top: 5%;
	background-color: #000000;
}
.adminBox{

	position: absolute;
	width: 17%;
	height: 100%;
	background-color: #2E2E2E;
	border: 3px solid black;
	padding: 0px;
}

.adminNavigationButton {
	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
	height: 100%;
	font-size: 18px;
}

.adminNavigationButton2 {
	width: 20%;
}

.adminNavigationButton3 {
	float: left;
}

.adminNavigationList {
	list-style: none;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 20%;
}

.adminNavigation:hover{
	background-color: #FAFAFA;
	color: black;
}

.adminBoxMain1 {
	position: absolute;
	width: 70%;
	background-color: #767676;
	left: 20%;
}

	/* Anime/Manga Hinzufügen */
	
.AnimeUebersichtBox {
	position: absolute;
	top: 9%;
	left: 20%;
	background-color: #2E2E2E;
	border: 3px solid black;
}

.tableAnimeHinzufuegen {
	margin: 3%;
	border: 3px solid black;
}

.tableTDAnimeHinzufuegen {
	width: 200px;
  }

.tableTDerw {
	text-align: center;
}
/*git hub will einen nur verarschen*/
/*git hub will einen nur verarschen 1*/

.tableTDerw2 {
	font-size: 25px;
}

.tableTDerw3 {
	font-size: 17px;
}

.tableHinzufuegen{
	padding: 0.5%;
}

.tdHinzufuegen {
	padding: 0.5%;
	width: 250px;
}

.schatten{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

	/*Impressum*/
	
.impressum{
	color: #FAFAFA;
}
.list_1 {
  display: flex;
  overflow-y: auto;
  list-style: none;
  margin-bottom: 0.5%;
}

.list_2 {
	display: flex;
	overflow-y: auto;
	list-style: none;
	margin-top: 0%
}

.list_2 {
	display: flex;
	overflow-y: auto;
	list-style: none;
	margin-top: 0%
}
